
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Add Patients</h4>
      <h6>Create new Patients details</h6>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form id="patientForm" action="/Reception-add-patients" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group" id="patientPhotoContainer">
            <label>Patient Photo</label>
            <div id="photoInputContainer">
              <input type="file" accept="image/*" id="patientPhotoInput" name="patientPhoto" onchange="previewPhoto()" />
            </div>
          </div>
          <div id="photoPreview" style="max-width: 100%; max-height: 200px; overflow: hidden; display: none; margin-top: -16px;">
            <img id="previewImage" style="width: 100%; height: auto;" alt="Patient Photo Preview" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Patient Name</label>
              <input type="text" class="form-control" name="patientName">
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="form-group">
              <label for="doctorName">Doctor</label>
              <select class="form-control" name="doctorId" id="doctorName">
                <option selected disabled>Select a Doctor</option>
                <% doctor.forEach((doctor) => { %>
                  <option value="<%= doctor._id %>"><%= doctor.doctorName %></option>
                <% }); %>
              </select>
            </div>
          </div>
          
          
        </div>
        

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Date Of Birth</label>
                <input type="date" class="form-control" name="dateOfbirth">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Gender</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="male" name="gender" value="male">
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                  <label class="form-check-label" for="female">Female</label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Admit Date</label>
                <input type="date" class="form-control" name="admitDate">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>OT Date</label>
                <input type="date" class="form-control" name="otDate">
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-lg-12">
          <button type="submit" class="btn btn-submit me-2">Submit</button>
          <a href="/product-list" class="btn btn-cancel">Cancel</a>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
